@font-face {
    font-family: monospace; /* Имя шрифта */
    src: url(/font/joystix\ monospace.ttf); /* Путь к файлу со шрифтом */
}

body {
    background-color: #f0f0f0;
    font-family: monospace;

}

.block {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 333;
}

.block h3 {
    text-align: center;
}

.contener {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

#r {
    position: fixed;
    z-index: 30;
}